services:
  mongo:
    image: mongo:6
    container_name: mongo_db
    restart: always
    ports:
    - "27017:21017"
    volumes:
    - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin 
      MONGO_INITDB_ROOT_PASSWORD: adminpass
  
volumes:
  mongo_data:
